body {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
}

/* Убираем внешние отступы и внутренние*/
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Элементы a сбрасываем до дефолтных стилей */
a {
  color: inherit;
  text-decoration: none;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

.container {
  padding-left: 51px;
  padding-right: 51px;  
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(30, 46, 54, 1);
}

.social {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.social__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #1e2e36;
}

.social__list {
  display: flex;
}

.social__link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  cursor: pointer;
}

.phone {
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #1e2e36;
}

.phone__icon {
  padding-right: 5px;
}

.stroke {
  padding-left: 5px;
}

.header__nav {
  display: flex;
}

.header__item {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #1e2e36;
}

.header__item:not(:last-child) {
  padding-right: 15px;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-list {
  display: flex;
}

.products-item {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 125%;
  /* identical to box height, or 22px */

  text-transform: uppercase;
  color: #1e2e36;
}

.products-item:not(:last-child) {
  padding-right: 15px;
}

.header__title {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header__title-span {
  color: #44c697;
}

.title-icon {
  padding-right: 15px;
}

.shopping-cart {
  display: flex;
  align-items: center;
}

.icon-shopping {
  margin-right: 5px;
}

.shopping-cart__tray {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #1e2e36;
}

.button {
  width: 278px;
  height: 51px;

  border: none;
  background: #44c697;
  border-radius: 3px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.basket__item {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #1e2e36;
}
