body {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

/* Убираем внешние отступы и внутренние*/
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Элементы a сбрасываем до дефолтных стилей */
a {
  color: inherit;
  text-decoration: none;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(30, 46, 54, 1);
}

.social {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.social__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #1e2e36;
}

.social__list {
  display: flex;
}

.social__link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  cursor: pointer;
}

.phone {
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #1e2e36;
}

.phone__icon {
  padding-right: 5px;
}

.stroke {
  padding-left: 5px;
}

.header__nav {
  display: flex;
}

.header__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #1e2e36;
}

.header__item:not(:last-child) {
  padding-right: 15px;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-list {
  display: flex;
}

.products-item {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #1e2e36;
}

.products-item:not(:last-child) {
  padding-right: 15px;
}

.header__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header__title-span {
  color: #44c697;
}

.title-icon {
  padding-right: 15px;
}

.shopping-cart {
  display: flex;
  align-items: center;
}

.icon-shopping {
  margin-right: 5px;
}

.shopping-cart__tray {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #1e2e36;
}

.button {
  width: 278px;
  height: 51px;

  border: none;
  background: #44c697;
  border-radius: 3px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.basket__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #1e2e36;
}

.hero {
  height: 785px;
  margin-bottom: 100px;
  background-image: url(../image/hero.jpg);
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 462px;
  height: 670px;
  margin-left: 51px;
  background: #ffffff;
  border-left: 15px solid #44c697;
}

.slider-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.56;
  color: #1e2e36;
  margin-top: 100px;
  margin-bottom: 50px;
}

.slider-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  /* identical to box height, or 45px */

  /* color4 */

  color: #1e2e36;
  margin-bottom: 10px;
}

.slider-text {
  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  /* or 45px */

  text-align: center;

  /* color4 */

  color: #1e2e36;
  margin-bottom: 40px;
}

.slider-btn {
  width: 209px;
  height: 51px;
  left: 178px;
  top: 553px;

  /* color3 */

  background: #44c697;
  border-radius: 3px;
  margin-bottom: 52px;
}

.control {
  display: flex;
  align-items: baseline;
}

.cont1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  /* identical to box height, or 45px */
  color: #1e2e36;
}

.cont2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  /* identical to box height, or 30px */
  text-transform: uppercase;
  color: #1e2e36;
}

.slider__arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.slider__arrow {
  width: 30px;
  height: 30px;
  border: 1px solid #1e2e36;
  border-radius: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider__arrow-right {
  background-color: black;
}

.our-advantages__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  /* identical to box height, or 60px */

  text-align: center;

  /* color4 */

  color: #1e2e36;
  margin-bottom: 52px;
}

.our-advantages__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.our-advantages__item {
  width: 586px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.item-mebli {
  background-image: url(../image/our-advantages_mebli.jpg);
}

.item-nadiya {
  background-image: url(../image/our-advantages_nadiinist.jpg);
}

.item-dostavka {
  background-image: url(../image/our-advantages_dostavka.jpg);
}

.our-advantages__subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  /* identical to box height, or 45px */

  /* greyscale/000 */

  color: #ffffff;
}

.our-advantages__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  /* or 22px */

  /* greyscale/000 */

  color: #ffffff;
}

.product-categories__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  /* identical to box height, or 60px */

  text-align: center;

  /* color4 */

  color: #1e2e36;
  margin-top: 100px;
}

.product-categories__list {
  display: flex;
  justify-content: space-around;
}

.product-categories__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 87px;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  /* identical to box height, or 30px */

  text-align: center;
  text-transform: uppercase;

  /* color4 */

  color: #1e2e36;
  cursor: pointer;
}

.product-categories__item:after {
  content: "";
  width: 100%;
  height: 3px;
  background: #44c697;
  opacity: 0;
}

.product-categories__item:hover:after,
.product-categories__item:focus:after {
  opacity: 1;
}

.product-categories__item:hover .product-categories__icon,
.product-categories__item:focus .product-categories__icon {
  fill: #44c697;
}

.product-categories__icon {
  margin-bottom: 10px;
}
